<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scam Detector</title>
    <link rel="stylesheet" href="main_css/headers.css">
    <link rel="stylesheet" href="main_css/questions.css">
    <link rel="stylesheet" href="main_css/results.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px; font-family: Arvo;">
    <div class="whole-frame">
        <div class="header">
            <p class="header-text">
                Job Scam Detector
            </p>
            <div class="title">
                <div class="logo-box">
                    <img src="image/logo.jpg" class="logo-pic">
                </div>
                <div class="logo-blank">

                </div>
                <div class="contact">
                    <p class="contact-text">
                        Contact Us
                    </p>
                </div>
            </div>
        </div>
        <div class="second-half-frame">
            <div class="question-frame">
                <div class="big-box-out">
                    <div class="big-box-in">
                        <textarea name="" id="" cols="30" rows="10" class="big-textarea"
                        placeholder="Copy or type the recruitment information of the Company here"
                    ></textarea>
                    </div>
                </div>
                <div class="small-box-out">
                    <div class="small-box-in">
                        <textarea name="" id="" cols="30" rows="2" class="small-textarea"
                            placeholder="Address/name here (optional)"
                            ></textarea>
                    </div>
                </div>
                <div class="button-box-out">
                    <div class="button-box-in">
                        <button class="button">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="mid-bar">
                <div class="m1">
                    
                </div>
                <div class="m2">
                    
                </div>
                <div class="m3">
                    
                </div>
                <div class="m4">
                    
                </div>
                <div class="m5">
                    
                </div>
                <div class="m6">
                    
                </div>
                <div class="m7">
                    
                </div>
                <div class="m8">
                    
                </div>
                <div class="m9">
                    
                </div>
                <div class="m10">
                    
                </div>
            </div>
            <div class="result-frame-out">
                <div class="result-frame-in">
                    <div class="result-box">
                        <p class="result-text">
                            Result:
                        </p>
                    </div>
                    <div class="scam-box">
                        <p class="scam-text">
                            Scam
                        </p>
                    </div>

                    <div class="rest-result-frame">
                        <div class="prob-dis-box">
                            <p class="prob-dis-text">
                                Probability: 63.51%
                            </p>
                        </div>
    
                        <div class="mistake-box">
                            <p class="mistake-text">
                                No. of grammatical mistakes: 3
                            </p>
                        </div>
    
                        <div class="map-box">
                            <p class="map-text">
                                Existence of the address: False
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
